# General
.DS_Store
.Trashes
._*
dist/
node_modules/
.npm
.cache
coverage
logs
*.log
npm-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history